# import python libraries

In [19]:
import numpy as np
import pandas as pd
import scipy
import os, sys
from pandas_profiling import ProfileReport

In [20]:
!ls ../Data

2015-2016 Institution Level Data.xlsx   IPEDS_Data
CollegeScorecardDataDictionary.xlsx     IPEDs Data-2.5.20
Field Level Earnings and Debt Data.xlsx field_level_data_profile.html

In [21]:
!ls ../Data/IPEDs\ Data-2.5.20/2016-2017_Institution_Level_Data-Reduced.xlsx

../Data/IPEDs Data-2.5.20/2016-2017_Institution_Level_Data-Reduced.xlsx

In [22]:
!ls ../Data/IPEDs\ Data-2.5.20/ValueLabels_2-5-2020---739.csv

../Data/IPEDs Data-2.5.20/ValueLabels_2-5-2020---739.csv

In [23]:
!du -h ../Data/IPEDs\ Data-2.5.20/2016-2017_Institution_Level_Data-Reduced.xlsx

1.0M	../Data/IPEDs Data-2.5.20/2016-2017_Institution_Level_Data-Reduced.xlsx

In [32]:
notebookdir = os.getcwd()
print(notebookdir)
cwd = os.path.join(notebookdir,"../Data/")
os.chdir(cwd)
print(cwd)

/Users/brianyoo/Desktop/CS411/Database-Systems-Project/Data
/Users/brianyoo/Desktop/CS411/Database-Systems-Project/Data/../Data/

In [37]:
!ls /Users/brianyoo/Desktop/CS411/Database-Systems-Project/Data/../Data//IPEDs\\ Data-2.5.20/

ls: /Users/brianyoo/Desktop/CS411/Database-Systems-Project/Data/../Data//IPEDs\: No such file or directory
ls: Data-2.5.20/: No such file or directory

# import data

## College Scorecard Data Dictionary

imported each tab separately

In [41]:
xls = pd.ExcelFile('CollegeScorecardDataDictionary.xlsx')
inst_data_dict = pd.read_excel(xls,'institution_data_dictionary')
inst_cohortmap = pd.read_excel(xls, 'institution_cohort_map')
recent_inst_cohortmap = pd.read_excel(xls, 'most_recent_inst_cohort_map')
fieldstudy_data_dict = pd.read_excel(xls,'FieldOfStudy_data_dictionary')
fieldstudy_cohortmap = pd.read_excel(xls,'FieldOfStudy_cohort_map')

description of the data fields in the other dataset

In [42]:
inst_data_dict.head()

,NAME OF DATA ELEMENT,dev-category,developer-friendly name,API data type,VARIABLE NAME,VALUE,LABEL,SOURCE,NOTES
0,Unit ID for institution,root,id,integer,UNITID,NaN,NaN,IPEDS,Shown/used on consumer website.
1,8-digit OPE ID for institution,root,ope8_id,string,OPEID,NaN,NaN,IPEDS,Shown/used on consumer website.
2,6-digit OPE ID for institution,root,ope6_id,string,OPEID6,NaN,NaN,IPEDS,Shown/used on consumer website.
3,Institution name,school,name,autocomplete,INSTNM,NaN,NaN,IPEDS,Shown/used on consumer website.
4,City,school,city,autocomplete,CITY,NaN,NaN,IPEDS,Shown/used on consumer website.

In [20]:
inst_cohortmap.head()

,Variable Name,MERGED_1996-97 datafile,MERGED_1997-98 datafile,MERGED_1998-99 datafile,MERGED_1999-00 datafile,MERGED_2000-01 datafile,MERGED_2001-02 datafile,MERGED_2002-03 datafile,MERGED_2003-04 datafile,MERGED_2004-05 datafile,...,MERGED_2008-09 datafile,MERGED_2009-10 datafile,MERGED_2010-11 datafile,MERGED_2011-12 datafile,MERGED_2012-13 datafile,MERGED_2013-14 datafile,MERGED_2014-15 datafile,MERGED_2015-16 datafile,MERGED_2016-17 datafile,MERGED_2017-18 datafile
0,UNITID,"AcadYr 1996-97, reported in IPEDS DCY1996-97","AcadYr 1997-98, reported in IPEDS DCY1997-98","AcadYr 1998-99, reported in IPEDS DCY1998-99","AcadYr 1999-00, reported in IPEDS DCY1999-00","AcadYr 2000-01, reported in IPEDS DCY2000-01","AcadYr 2001-02, reported in IPEDS DCY2001-02","AcadYr 2002-03, reported in IPEDS DCY2002-03","AcadYr 2003-04, reported in IPEDS DCY2003-04","AcadYr 2004-05, reported in IPEDS DCY2004-05",...,"AcadYr 2008-09, reported in IPEDS DCY2008-09","AcadYr 2009-10, reported in IPEDS DCY2009-10","AcadYr 2010-11, reported in IPEDS DCY2010-11","AcadYr 2011-12, reported in IPEDS DCY2011-12","AcadYr 2012-13, reported in IPEDS DCY2012-13","AcadYr 2013-14, reported in IPEDS DCY2013-14","AcadYr 2014-15, reported in IPEDS DCY2014-15","AcadYr 2015-16, reported in IPEDS DCY2015-16","AcadYr 2016-17, reported in IPEDS DCY2016-17","AcadYr 2017-18, reported in IPEDS DCY2017-18"
1,OPEID,"AcadYr 1996-97, reported in IPEDS DCY1996-97","AcadYr 1997-98, reported in IPEDS DCY1997-98","AcadYr 1998-99, reported in IPEDS DCY1998-99","AcadYr 1999-00, reported in IPEDS DCY1999-00","AcadYr 2000-01, reported in IPEDS DCY2000-01","AcadYr 2001-02, reported in IPEDS DCY2001-02","AcadYr 2002-03, reported in IPEDS DCY2002-03","AcadYr 2003-04, reported in IPEDS DCY2003-04","AcadYr 2004-05, reported in IPEDS DCY2004-05",...,"AcadYr 2008-09, reported in IPEDS DCY2008-09","AcadYr 2009-10, reported in IPEDS DCY2009-10","AcadYr 2010-11, reported in IPEDS DCY2010-11","AcadYr 2011-12, reported in IPEDS DCY2011-12","AcadYr 2012-13, reported in IPEDS DCY2012-13","AcadYr 2013-14, reported in IPEDS DCY2013-14","AcadYr 2014-15, reported in IPEDS DCY2014-15","AcadYr 2015-16, reported in IPEDS DCY2015-16","AcadYr 2016-17, reported in IPEDS DCY2016-17","AcadYr 2017-18, reported in IPEDS DCY2017-18"
2,OPEID6,"AcadYr 1996-97, reported in IPEDS DCY1996-97","AcadYr 1997-98, reported in IPEDS DCY1997-98","AcadYr 1998-99, reported in IPEDS DCY1998-99","AcadYr 1999-00, reported in IPEDS DCY1999-00","AcadYr 2000-01, reported in IPEDS DCY2000-01","AcadYr 2001-02, reported in IPEDS DCY2001-02","AcadYr 2002-03, reported in IPEDS DCY2002-03","AcadYr 2003-04, reported in IPEDS DCY2003-04","AcadYr 2004-05, reported in IPEDS DCY2004-05",...,"AcadYr 2008-09, reported in IPEDS DCY2008-09","AcadYr 2009-10, reported in IPEDS DCY2009-10","AcadYr 2010-11, reported in IPEDS DCY2010-11","AcadYr 2011-12, reported in IPEDS DCY2011-12","AcadYr 2012-13, reported in IPEDS DCY2012-13","AcadYr 2013-14, reported in IPEDS DCY2013-14","AcadYr 2014-15, reported in IPEDS DCY2014-15","AcadYr 2015-16, reported in IPEDS DCY2015-16","AcadYr 2016-17, reported in IPEDS DCY2016-17","AcadYr 2017-18, reported in IPEDS DCY2017-18"
3,INSTNM,"AcadYr 1996-97, reported in IPEDS DCY1996-97, ...","AcadYr 1997-98, reported in IPEDS DCY1997-98, ...","AcadYr 1998-99, reported in IPEDS DCY1998-99, ...","AcadYr 1999-00, reported in IPEDS DCY1999-00, ...","AcadYr 2000-01, reported in IPEDS DCY2000-01, ...","AcadYr 2001-02, reported in IPEDS DCY2001-02, ...","AcadYr 2002-03, reported in IPEDS DCY2002-03, ...","AcadYr 2003-04, reported in IPEDS DCY2003-04, ...","AcadYr 2004-05, reported in IPEDS DCY2004-05, ...",...,"AcadYr 2008-09, reported in IPEDS DCY2008-09, ...","AcadYr 2009-10, reported in IPEDS DCY2009-10, ...","AcadYr 2010-11, reported in IPEDS DCY2010-11, ...","AcadYr 2011-12, reported in IPEDS DCY2011-12, ...","AcadYr 2012-13, reported in IPEDS DCY2012-13, ...","AcadYr 2013-14, reported in IPEDS DCY2013-14, ...","AcadYr 2014-15, reported in IPEDS DCY2014-15, ...","AcadYr 2015-16, reported in IPEDS DCY2015-16, ...","AcadYr 2016-17, reported in IPEDS DCY2016-17, ...","AcadYr 2017-18, reported in IPEDS DCY2017-18, ..."
4,CITY,"AcadYr 1996-97, reported in IPEDS DCY1996-97, ...","AcadYr 1997-98, reported in IPEDS DCY1997-98, ...","AcadYr 1998-99, reported in IPEDS DCY1998-99, ...","AcadYr 1999-00, reported in IPEDS DCY1999-00, ...","AcadYr 2000-01, reported in IPEDS DCY2000-01, ...","AcadYr 2001-02, reported in IPEDS DCY2001-02, ...","AcadYr 2002-03, reported in IPEDS DCY2002-03, ...","AcadYr 2003-04, reported in IPEDS DCY2003-04, ...","AcadYr 2004-05, reported in IPEDS DCY2004-05, ...",...,"AcadYr 2008-09, reported in IPEDS DCY2008-09, ...","AcadYr 2009-10, reported in IPEDS DCY2009-10, ...","AcadYr 2010-11, reported in IPEDS DCY2010-11, ...","AcadYr 2011-12, reported in IPEDS DCY2011-12, ...","AcadYr 2012-13, reported in IPEDS DCY2012-13, ...","AcadYr 2013-14, reported in IPEDS DCY2013-14, ...","AcadYr 2014-15, reported in IPEDS DCY2014-15, ...","AcadYr 2015-16, reported in IPEDS DCY2015-16, ...","AcadYr 2016-17, reported in IPEDS DCY2016-17, ...","AcadYr 2017-18, reported in IPEDS DCY2017-18, ..."

In [21]:
recent_inst_cohortmap.head()

,Variable Name,Cohort/Measure in Featured Downloads Datafiles,Merged file Drawn From (MergedXXXX_YY_PP.csv)
0,UNITID,"AcadYr 2017-18, reported in IPEDS DCY2017-18",2017_18
1,OPEID,"AcadYr 2017-18, reported in IPEDS DCY2017-18",2017_18
2,OPEID6,"AcadYr 2017-18, reported in IPEDS DCY2017-18",2017_18
3,INSTNM,"AcadYr 2017-18, reported in IPEDS DCY2017-18, ...",2017_18
4,CITY,"AcadYr 2017-18, reported in IPEDS DCY2017-18, ...",2017_18

In [22]:
fieldstudy_data_dict.head()

,NAME OF DATA ELEMENT,dev-category,developer-friendly name,API data type,VARIABLE NAME,VALUE,LABEL,SOURCE,NOTES
0,Unit ID for institution,programs,cip_4_digit.id,integer,UNITID,NaN,NaN,IPEDS,Shown/used on consumer website.
1,6-digit OPE ID for institution,programs,cip_4_digit.ope6_id,string,OPEID6,NaN,NaN,IPEDS/PEPS,NaN
2,Institution name,programs,cip_4_digit.school.name,autocomplete,INSTNM,NaN,NaN,IPEDS/PEPS,NaN
3,Control of institution,programs,cip_4_digit.school.type,integer,CONTROL,1.0,Public,IPEDS/PEPS,NaN
4,NaN,NaN,NaN,NaN,NaN,2.0,Private nonprofit,NaN,NaN

In [23]:
fieldstudy_cohortmap.head()

,Variable Name,ProgramData1415_1516 datafile,ProgramData1516_1617 datafile and Most-Recent-Field-Data-Elements datafile
0,UNITID,"AcadYr 2016-17, reported in IPEDS DCY2016-17","AcadYr 2017-18, reported in IPEDS DCY2017-18"
1,OPEID6,"AcadYr 2016-17, reported in IPEDS DCY2016-17","AcadYr 2017-18, reported in IPEDS DCY2017-18"
2,INSTNM,"AcadYr 2016-17, reported in IPEDS DCY2016-17, ...","AcadYr 2017-18, reported in IPEDS DCY2017-18, ..."
3,CONTROL,"AcadYr 2016-17, reported in IPEDS DCY2016-17","AcadYr 2017-18, reported in IPEDS DCY2017-18"
4,MAIN,"AcadYr 2016-17, reported in IPEDS DCY2016-17","AcadYr 2017-18, reported in IPEDS DCY2017-18"

## institution level data

a lot of columns with NaN; may need to remove some columns

In [43]:
# inst_lvl_data = pd.read_excel('2015-2016 Institution Level Data.xlsx')
xls = pd.ExcelFile(cwd+'/IPEDs Data-2.5.20/2016-2017_Institution_Level_Data-Reduced.xlsx')
inst_lvl_data = pd.read_excel(xls,'Data_2-5-2020---739')

In [44]:
inst_lvl_data.shape

(6858, 43)

In [46]:
inst_lvl_data.dropna(axis=1, how='all', inplace=True)

(6858, 43)

In [47]:
inst_lvl_data.shape

(6858, 43)

In [48]:
inst_lvl_data.head()

,UnitID,Institution Name,State abbreviation (HD2016),City location of institution (HD2016),ZIP code (HD2016),Percent of undergraduate students awarded federal state local institutional or other sources of grant aid (SFA1617_RV),Total amount of federal state local institutional or other sources of grant aid awarded to undergraduate students (SFA1617_RV),Average amount of federal state local institutional or other sources of grant aid awarded to undergraduate students (SFA1617_RV),Number of undergraduate students awarded Pell grants (SFA1617_RV),Percent of undergraduate students awarded Pell grants (SFA1617_RV),...,SAT Critical Reading 25th percentile score (ADM2016_RV),SAT Critical Reading 75th percentile score (ADM2016_RV),SAT Math 25th percentile score (ADM2016_RV),SAT Math 75th percentile score (ADM2016_RV),ACT Composite 25th percentile score (ADM2016_RV),ACT Composite 75th percentile score (ADM2016_RV),ACT English 25th percentile score (ADM2016_RV),ACT English 75th percentile score (ADM2016_RV),ACT Math 25th percentile score (ADM2016_RV),ACT Math 75th percentile score (ADM2016_RV)
0,240985.0,\tEducational Technical College-Recinto de Bay...,PR,Bayamon,959,88.0,1423375.0,3847.0,370.0,88.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,177834.0,A T Still University of Health Sciences,MO,Kirksville,63501,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,180203.0,Aaniiih Nakoda College,MT,Harlem,59526,81.0,962370.0,7953.0,98.0,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,491464.0,ABC Adult School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,493105.0,ABC Adult School - Cabrillo Lane,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:

inst_lvl_data_profile = ProfileReport(inst_lvl_data, title='Institution Level Data Profile', html={'style':{'full_width':True}})
inst_lvl_data_profile.to_file(output_file="institutional_level_data_profile.html")

## Field level earning and debt data

looks like this dataset is the most complete out of the data so far, although we may need to drop rows that have privacy suppressed.

In [31]:
field_lvl_data = pd.read_excel('Field Level Earnings and Debt Data.xlsx')

In [32]:
field_lvl_data.shape

(216638, 20)

In [33]:
field_lvl_data.head()

,UNITID,OPEID6,INSTNM,CONTROL,MAIN,CIPCODE,CIPDESC,CREDLEV,CREDDESC,COUNT,DEBTMEDIAN,DEBTPAYMENT10YR,DEBTMEAN,TITLEIVCOUNT,EARNINGSCOUNT,MD_EARN_WNE,IPEDSCOUNT1,IPEDSCOUNT2,Monthly Earnings,Monthly Earnings Less Debt
0,100654.0,1002,Alabama A & M University,Public,1,100,"Agriculture, General.",3,Bachelors Degree,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,4.0,NaN,NaN,NaN
1,100654.0,1002,Alabama A & M University,Public,1,101,Agricultural Business and Management.,3,Bachelors Degree,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,NaN,NaN,NaN,NaN
2,100654.0,1002,Alabama A & M University,Public,1,109,Animal Sciences.,3,Bachelors Degree,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,31066,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,7.0,6.0,NaN,NaN
3,100654.0,1002,Alabama A & M University,Public,1,110,Food Science and Technology.,3,Bachelors Degree,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,5.0,8.0,NaN,NaN
4,100654.0,1002,Alabama A & M University,Public,1,110,Food Science and Technology.,5,Master's Degree,15,PrivacySuppressed,PrivacySuppressed,61527,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,9.0,10.0,NaN,NaN

In [34]:
field_lvl_data_profile = ProfileReport(field_lvl_data, title='Field Level Data Profile', html={'style':{'full_width':True}})

In [35]:
field_lvl_data_profile.to_file(output_file="field_level_data_profile.html")